---
# Configure clang-tidy for this project.

Checks: '*,-abseil*,-android*,-fuchsia*,-bugprone-exception-escape'

WarningsAsErrors: '*'

HeaderFilterRegex: '.*'

AnalyzeTemporaryDtors: false

FormatStyle: llvm
...
