---
# Configure clang-tidy for this project.

Checks: '*,-abseil*,-google*,-zircon*,-android*,-fuchsia*,-modernize-use-trailing-return-type,-llvm*,-*magic-numbers,-*braces-around-statements'

WarningsAsErrors: '*'

HeaderFilterRegex: '.*'

AnalyzeTemporaryDtors: false

FormatStyle: google
...
