# Cache/options directory used by clangd
.clangd

# IntelliJ IDEA
.idea
*.iml

# Visual Studio and VS Code
.vs
.vscode

# Build directories
build
vs2017
vs2019

# Dependencies already resolved by CMake
googletest

# CMake build configuration used by Visual Studio
CMakeSettings.json
compile_commands.json
