# Cache/options directory used by Visual Studio and Visual Studio Code
.vs
.vscode

# Build directories
build
vs2017
vs2019

# Dependencies already resolved by CMake
googletest

# CMake build configuration used by Visual Studio
CMakeSettings.json
